{% comment %}
----------------------------------------------------------------------------
  Snippet: Change country trigger mobile wrap
----------------------------------------------------------------------------
{% endcomment %}
<li class="mobile-blocks__item mobile-blocks__direct-item relative mobile-blocks__direct-item--icon-style site-header__country-selector site-header__country-selector--mobile">
    <div class="mobile-blocks__item-inner relative border-color-light-grey background-color-off-white">
        <div class="mobile-blocks__direct-item--title mobile-blocks__item--title">
            {% render 'change-country-trigger' %}
        </div>
    </div>
</li>