{% comment %}
----------------------------------------------------------------------------
  Snippet: Collection archive filters desktop
  - The filters for desktop
----------------------------------------------------------------------------
{% endcomment %}
<div class="collection-horizontal-filtering hide--m background-color-off-white">
  <div class="page-width page-padding">
    <div class="flexbox flex-wrap-wrap collection-horizontal-filtering_flexbox">
      <div
        class="collection-horizontal-filtering__select-wrapper"
        js-activate-content="filter-sort"
        js-option-selected="drop-down"
      >
        <div class="custom-select-style collection-horizontal-filtering__select inline-block text-left">
          <div
            class="select-selected h6 no-margin-bottom"
            js-activate-trigger="filter-sort"
          >
            Sort by
          </div>
          <div
            class="collection-horizontal-filtering__select-content"
          >
            <ul class="collection-horizontal-filtering__options list-style-none background-color-off-white">
              <li class="collection-horizontal-filtering__option relative background-color-white">
                <input type="radio" name="desktop-sort">
                <label>
                  <span class="small">Price: High to Low</span> <span class="small color-grey">(108)</span>
                </label>
              </li>
              <li class="collection-horizontal-filtering__option relative background-color-white">
                <input type="radio" name="desktop-sort">
                <label>
                  <span class="small">Price: Low to High</span> <span class="small color-grey">(108)</span>
                </label>
              </li>
              <li class="collection-horizontal-filtering__option relative background-color-white">
                <input type="radio" name="desktop-sort">
                <label>
                  <span class="small">Best Selling</span> <span class="small color-grey">(108)</span>
                </label>
              </li>
              <li class="collection-horizontal-filtering__option relative background-color-white">
                <input type="radio" name="desktop-sort">
                <label>
                  <span class="small">User Rating</span> <span class="small color-grey">(108)</span>
                </label>
              </li>
              <li class="collection-horizontal-filtering__option relative background-color-white">
                <input type="radio" name="desktop-sort">
                <label>
                  <span class="small">Newest</span> <span class="small color-grey">(108)</span>
                </label>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div
        class="collection-horizontal-filtering__select-wrapper"
        js-activate-content="filter-brand"
        js-option-selected="drop-down"
      >
        <div class="custom-select-style collection-horizontal-filtering__select inline-block text-left">
          <div
            class="select-selected h6 no-margin-bottom"
            js-activate-trigger="filter-brand"
          >
            Brand
          </div>
          <div
            class="collection-horizontal-filtering__select-content"
          >
            <div class="collection-horizontal-filtering__header background-color-white flexbox space-between">
              <span class="small no-margin-bottom">1 selected</span> <button class="button button--small button--black-white">Reset</button>
            </div>
            <ul class="collection-horizontal-filtering__options list-style-none background-color-off-white">
              <li class="collection-horizontal-filtering__option relative background-color-white">
                <input type="checkbox">
                <label>
                  <span class="small">Price: High to Low</span> <span class="small color-grey">(108)</span>
                </label>
              </li>
              <li class="collection-horizontal-filtering__option relative background-color-white">
                <input type="checkbox">
                <label>
                  <span class="small">Price: Low to High</span> <span class="small color-grey">(108)</span>
                </label>
              </li>
              <li class="collection-horizontal-filtering__option relative background-color-white">
                <input type="checkbox">
                <label>
                  <span class="small">Best Selling</span> <span class="small color-grey">(108)</span>
                </label>
              </li>
              <li class="collection-horizontal-filtering__option relative background-color-white">
                <input type="checkbox">
                <label>
                  <span class="small">User Rating</span> <span class="small color-grey">(108)</span>
                </label>
              </li>
              <li class="collection-horizontal-filtering__option relative background-color-white">
                <input type="checkbox">
                <label>
                  <span class="small">Newest</span> <span class="small color-grey">(108)</span>
                </label>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div
        class="collection-horizontal-filtering__select-wrapper"
        js-activate-content="filter-weight"
        js-option-selected="drop-down"
      >
        <div class="custom-select-style collection-horizontal-filtering__select inline-block text-left">
          <div
            class="select-selected h6 no-margin-bottom"
            js-activate-trigger="filter-weight"
          >
            Weight
          </div>
          <div
            class="collection-horizontal-filtering__select-content"
          >
            <div class="collection-horizontal-filtering__header background-color-white flexbox space-between">
              <span class="small no-margin-bottom">1 selected</span> <button class="button button--small button--black-white">Reset</button>
            </div>
            <ul class="collection-horizontal-filtering__options list-style-none background-color-off-white">
              <li class="collection-horizontal-filtering__option relative background-color-white">
                <input type="checkbox">
                <label>
                  <span class="small">Price: High to Low</span> <span class="small color-grey">(108)</span>
                </label>
              </li>
              <li class="collection-horizontal-filtering__option relative background-color-white">
                <input type="checkbox">
                <label>
                  <span class="small">Price: Low to High</span> <span class="small color-grey">(108)</span>
                </label>
              </li>
              <li class="collection-horizontal-filtering__option relative background-color-white">
                <input type="checkbox">
                <label>
                  <span class="small">Best Selling</span> <span class="small color-grey">(108)</span>
                </label>
              </li>
              <li class="collection-horizontal-filtering__option relative background-color-white">
                <input type="checkbox">
                <label>
                  <span class="small">User Rating</span> <span class="small color-grey">(108)</span>
                </label>
              </li>
              <li class="collection-horizontal-filtering__option relative background-color-white">
                <input type="checkbox">
                <label>
                  <span class="small">Newest</span> <span class="small color-grey">(108)</span>
                </label>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div
        class="collection-horizontal-filtering__select-wrapper"
        js-activate-content="filter-face-value"
        js-option-selected="drop-down"
      >
        <div class="custom-select-style collection-horizontal-filtering__select inline-block text-left">
          <div
            class="select-selected h6 no-margin-bottom"
            js-activate-trigger="filter-face-value"
          >
            Face Value
          </div>
          <div
            class="collection-horizontal-filtering__select-content"
          >
            <div class="collection-horizontal-filtering__header background-color-white flexbox space-between">
              <span class="small no-margin-bottom">1 selected</span> <button class="button button--small button--black-white">Reset</button>
            </div>
            <ul class="collection-horizontal-filtering__options list-style-none background-color-off-white">
              <li class="collection-horizontal-filtering__option relative background-color-white">
                <input type="checkbox">
                <label>
                  <span class="small">Price: High to Low</span> <span class="small color-grey">(108)</span>
                </label>
              </li>
              <li class="collection-horizontal-filtering__option relative background-color-white">
                <input type="checkbox">
                <label>
                  <span class="small">Price: Low to High</span> <span class="small color-grey">(108)</span>
                </label>
              </li>
              <li class="collection-horizontal-filtering__option relative background-color-white">
                <input type="checkbox">
                <label>
                  <span class="small">Best Selling</span> <span class="small color-grey">(108)</span>
                </label>
              </li>
              <li class="collection-horizontal-filtering__option relative background-color-white">
                <input type="checkbox">
                <label>
                  <span class="small">User Rating</span> <span class="small color-grey">(108)</span>
                </label>
              </li>
              <li class="collection-horizontal-filtering__option relative background-color-white">
                <input type="checkbox">
                <label>
                  <span class="small">Newest</span> <span class="small color-grey">(108)</span>
                </label>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div
        class="collection-horizontal-filtering__select-wrapper"
        js-activate-content="filter-issue"
        js-option-selected="drop-down"
      >
        <div class="custom-select-style collection-horizontal-filtering__select inline-block text-left">
          <div
            class="select-selected h6 no-margin-bottom"
            js-activate-trigger="filter-issue"
          >
            Country of Issue
          </div>
          <div
            class="collection-horizontal-filtering__select-content"
          >
            <div class="collection-horizontal-filtering__header background-color-white flexbox space-between">
              <span class="small no-margin-bottom">1 selected</span> <button class="button button--small button--black-white">Reset</button>
            </div>
            <ul class="collection-horizontal-filtering__options list-style-none background-color-off-white">
              <li class="collection-horizontal-filtering__option relative background-color-white">
                <input type="checkbox">
                <label>
                  <span class="small">Price: High to Low</span> <span class="small color-grey">(108)</span>
                </label>
              </li>
              <li class="collection-horizontal-filtering__option relative background-color-white">
                <input type="checkbox">
                <label>
                  <span class="small">Price: Low to High</span> <span class="small color-grey">(108)</span>
                </label>
              </li>
              <li class="collection-horizontal-filtering__option relative background-color-white">
                <input type="checkbox">
                <label>
                  <span class="small">Best Selling</span> <span class="small color-grey">(108)</span>
                </label>
              </li>
              <li class="collection-horizontal-filtering__option relative background-color-white">
                <input type="checkbox">
                <label>
                  <span class="small">User Rating</span> <span class="small color-grey">(108)</span>
                </label>
              </li>
              <li class="collection-horizontal-filtering__option relative background-color-white">
                <input type="checkbox">
                <label>
                  <span class="small">Newest</span> <span class="small color-grey">(108)</span>
                </label>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div
        class="collection-horizontal-filtering__select-wrapper"
        js-activate-content="filter-finish"
        js-option-selected="drop-down"
      >
        <div class="custom-select-style collection-horizontal-filtering__select inline-block text-left">
          <div
            class="select-selected h6 no-margin-bottom"
            js-activate-trigger="filter-finish"
          >
            Finish
          </div>
          <div
            class="collection-horizontal-filtering__select-content"
          >
            <div class="collection-horizontal-filtering__header background-color-white flexbox space-between">
              <span class="small no-margin-bottom">1 selected</span> <button class="button button--small button--black-white">Reset</button>
            </div>
            <ul class="collection-horizontal-filtering__options list-style-none background-color-off-white">
              <li class="collection-horizontal-filtering__option relative background-color-white">
                <input type="checkbox">
                <label>
                  <span class="small">Price: High to Low</span> <span class="small color-grey">(108)</span>
                </label>
              </li>
              <li class="collection-horizontal-filtering__option relative background-color-white">
                <input type="checkbox">
                <label>
                  <span class="small">Price: Low to High</span> <span class="small color-grey">(108)</span>
                </label>
              </li>
              <li class="collection-horizontal-filtering__option relative background-color-white">
                <input type="checkbox">
                <label>
                  <span class="small">Best Selling</span> <span class="small color-grey">(108)</span>
                </label>
              </li>
              <li class="collection-horizontal-filtering__option relative background-color-white">
                <input type="checkbox">
                <label>
                  <span class="small">User Rating</span> <span class="small color-grey">(108)</span>
                </label>
              </li>
              <li class="collection-horizontal-filtering__option relative background-color-white">
                <input type="checkbox">
                <label>
                  <span class="small">Newest</span> <span class="small color-grey">(108)</span>
                </label>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div
        class="collection-horizontal-filtering__select-wrapper"
        js-activate-content="filter-year"
        js-option-selected="drop-down"
      >
        <div class="custom-select-style collection-horizontal-filtering__select inline-block text-left">
          <div
            class="select-selected h6 no-margin-bottom"
            js-activate-trigger="filter-year"
          >
            Year of Issue
          </div>
          <div
            class="collection-horizontal-filtering__select-content"
          >
            <div class="collection-horizontal-filtering__header background-color-white flexbox space-between">
              <span class="small no-margin-bottom">1 selected</span> <button class="button button--small button--black-white">Reset</button>
            </div>
            <ul class="collection-horizontal-filtering__options list-style-none background-color-off-white">
              <li class="collection-horizontal-filtering__option relative background-color-white">
                <input type="checkbox">
                <label>
                  <span class="small">Price: High to Low</span> <span class="small color-grey">(108)</span>
                </label>
              </li>
              <li class="collection-horizontal-filtering__option relative background-color-white">
                <input type="checkbox">
                <label>
                  <span class="small">Price: Low to High</span> <span class="small color-grey">(108)</span>
                </label>
              </li>
              <li class="collection-horizontal-filtering__option relative background-color-white">
                <input type="checkbox">
                <label>
                  <span class="small">Best Selling</span> <span class="small color-grey">(108)</span>
                </label>
              </li>
              <li class="collection-horizontal-filtering__option relative background-color-white">
                <input type="checkbox">
                <label>
                  <span class="small">User Rating</span> <span class="small color-grey">(108)</span>
                </label>
              </li>
              <li class="collection-horizontal-filtering__option relative background-color-white">
                <input type="checkbox">
                <label>
                  <span class="small">Newest</span> <span class="small color-grey">(108)</span>
                </label>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div
        class="collection-horizontal-filtering__select-wrapper"
        js-activate-content="filter-type"
        js-option-selected="drop-down"
      >
        <div class="custom-select-style collection-horizontal-filtering__select inline-block text-left">
          <div
            class="select-selected h6 no-margin-bottom"
            js-activate-trigger="filter-type"
          >
            Product Type
          </div>
          <div
            class="collection-horizontal-filtering__select-content"
          >
            <div class="collection-horizontal-filtering__header background-color-white flexbox space-between">
              <span class="small no-margin-bottom">1 selected</span> <button class="button button--small button--black-white">Reset</button>
            </div>
            <ul class="collection-horizontal-filtering__options list-style-none background-color-off-white">
              <li class="collection-horizontal-filtering__option relative background-color-white">
                <input type="checkbox">
                <label>
                  <span class="small">Price: High to Low</span> <span class="small color-grey">(108)</span>
                </label>
              </li>
              <li class="collection-horizontal-filtering__option relative background-color-white">
                <input type="checkbox">
                <label>
                  <span class="small">Price: Low to High</span> <span class="small color-grey">(108)</span>
                </label>
              </li>
              <li class="collection-horizontal-filtering__option relative background-color-white">
                <input type="checkbox">
                <label>
                  <span class="small">Best Selling</span> <span class="small color-grey">(108)</span>
                </label>
              </li>
              <li class="collection-horizontal-filtering__option relative background-color-white">
                <input type="checkbox">
                <label>
                  <span class="small">User Rating</span> <span class="small color-grey">(108)</span>
                </label>
              </li>
              <li class="collection-horizontal-filtering__option relative background-color-white">
                <input type="checkbox">
                <label>
                  <span class="small">Newest</span> <span class="small color-grey">(108)</span>
                </label>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div
        class="collection-horizontal-filtering__select-wrapper collection-horizontal-filtering__select-wrapper--price"
        js-activate-content="filter-price"
        js-option-selected="drop-down"
      >
        <div class="custom-select-style collection-horizontal-filtering__select inline-block text-left">
          <div
            class="select-selected h6 no-margin-bottom"
            js-activate-trigger="filter-price"
          >
            Price
          </div>
          <div
            class="collection-horizontal-filtering__select-content"
          >
            <div class="collection-horizontal-filtering__header background-color-white flexbox space-between">
              <button class="button button--small button--black-white">Reset</button>
            </div>
            <ul class="collection-horizontal-filtering__options list-style-none background-color-off-white">
              <li class="collection-horizontal-filtering__option relative background-color-white">
                {% render 'slider-placeholder' %}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
