{% comment %}
------------------------------------------------------------------------------
  Snippet: Product also bought
  - People also bought
------------------------------------------------------------------------------
{% endcomment %}
<div class="vertical-padding also-bought border-top border-color-light-grey">

  <h3 class="color-navy h4 bold">{{ 'cart.drawer.people_also_bought' | t }}</h3>

  <div class="nosto-element-wrapper">
    <div class="nosto_element" id="productpage-nosto-people-also-bought"></div>
    <div class="nosto_page_type" style="display:none">product</div>
  </div>

</div>
