<div class="vertical-padding page-width page-width--small">
  <div class="delivery-zones">
    <h1 class="h2 text-center">{{ 'products.product.delivery_returns_information' | t }}</h1>
    <h2 class="h4 text-center">{{ 'products.product.delivery_returns_information_sub_title' | t }}</h2>
    {% section 'delivery-zones' %}
    <div class="rte">
      {{ page.content }}
    </div>
  </div>
</div>